<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <footer class="footer hidden-xs-down">
        <p>©2018 - 2020 Univesity of Pittsburgh. All rights reserved.</p>
<!-- 
        <ul class="nav footer__nav">
            <a class="nav-link" href="">Homepage</a>

            <a class="nav-link" href="">Company</a>

            <a class="nav-link" href="">Support</a>

            <a class="nav-link" href="">News</a>

            <a class="nav-link" href="">Contacts</a>
        </ul> -->
    </footer>
</body>
</html>