<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <aside class="sidebar">
        <div class="scrollbar-inner">
            <div class="user">
                <div class="user__info" data-toggle="dropdown">
                    <img class="user__img" src="/demo/img/profile-pics/8.jpg" alt="">
                    <div>
                        <div class="user__name">Admin</div>
                        <div class="user__email">brainflux@upmc.com</div>
                    </div>
                </div>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="">View Profile</a>
                    <a class="dropdown-item" href="">Settings</a>
                    <a class="dropdown-item" href="">Logout</a>
                </div>
            </div>
            <div hidden="hidden" th:name=${nav} id="nav"></div>
            <div hidden="hidden" th:name=${subnav} id="subnav"></div>
            <ul class="navigation">
                <li id="home">
                    <a href="/index/home">
                        <i class="zmdi zmdi-home"></i>
                        Home
                    </a>
                </li>
                <li id="import">
                    <a href="/data/import">
                        <i class="zmdi zmdi-collection-text"></i>
                        Data Import
                    </a>
                </li>
                <li class="navigation__sub" id="queries">
                    <a href="">
                        <i class="zmdi zmdi-view-list"></i>
                        Queries
                    </a>
                    <ul>
                        <li id="exceed">
                            <a href="/query/exceed">Exceed</a>
                        </li>
                        <li id="differ">
                            <a href="/query/differ">Mean Difference</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</body>
</html>