<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
    <aside class="sidebar">
        <div class="scrollbar-inner">

            <div hidden="hidden" th:name=${nav} id="nav"></div>
            <div hidden="hidden" th:name=${subnav} id="subnav"></div>
            <ul class="navigation">
                <!-- Menu Home-->
                <li id="home">
                    <a href="/">
                        <i class="zmdi zmdi-home"></i>
                        Home
                    </a>
                </li>
                <!-- Menu Data-->
                <li class="navigation__sub" id="data" sec:authorize="hasRole('ADMIN')">
                    <a href="">
                        <i class="zmdi zmdi-collection-text"></i>
                        Raw Data
                    </a>
                    <ul sec:authorize="hasRole('ADMIN')">
                        <li id="import">
                            <a href="/data/import">Import CSV</a>
                        </li>
                        <!--<li id="updateMetadata">-->
                            <!--<a href="/data/updateMetadata">Update Metadata</a>-->
                        <!--</li>-->
                        <li id="activity">
                            <a href="/data/activity">Import Activity</a>
                        </li>
                        <!--<li id="status">-->
                        <!--<a href="/data/status">Status</a>-->
                        <!--</li>-->
                        <!--<li id="patients">-->
                            <!--<a href="/data/patients">Manage Database</a>-->
                        <!--</li>-->
                    </ul>
                </li>
                <!-- Menu Filter out patients -->
<!--                <li class="navigation__sub" id="queries">-->
<!--                    <a href="">-->
<!--                        <i class="zmdi zmdi-view-list"></i>-->
<!--                        Filtering-->
<!--                    </a>-->
<!--                    <ul>-->
<!--                        <li id="exceed">-->
<!--                            <a href="/query/exceed">Exceed Threshold</a>-->
<!--                        </li>-->
<!--                        <li id="differ">-->
<!--                            <a href="/query/differ">Spatial Variance</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
                <!-- Menu Export-->
                <li class="navigation__sub" id="analysis" sec:authorize="hasAnyRole('USER','ADMIN')" >
                    <a href="">
                        <i class="zmdi zmdi-case-download"></i>
                        Export
                    </a>
                    <ul>
                        <li id="builder">
                            <a href="/analysis/builder">Query Builder</a>
                        </li>
                        <li id="medicalbuilder">
                            <a href="/analysis/medicalbuilder">Medical Query Builder</a>
                        </li>
                        <li id="job">
                            <a href="/analysis/job">Export Jobs</a>
                        </li>
                        <li id="userchart" sec:authorize="hasRole('USER')">
                            <a href="/analysis/userchart">View Charts</a>
                        </li>
                    </ul>
                </li>

                <!-- Database Management-->
                <li class="navigation__sub" id="management" sec:authorize="hasRole('ADMIN')">
                    <a href="">
                        <i class="zmdi zmdi-spinner"></i>
                        Database Management
                    </a>
                    <ul>
                        <li id="chart">
                            <a href="/analysis/chart">View Charts</a>
                        </li>
                        <li id="wrongpatients">
                            <a href="/analysis/wrongpatients">Detect Wrong Data</a>
                        </li>
                        <li id="confirmChanges">
                            <a href="/confirmChanges">Commit Or Cancel Changes</a>
                        </li>
                        <li id="aggDatabase">
                            <a href="/aggregation/aggDatabase">Database Aggregation</a>
                        </li>
                    </ul>
                </li>
                <!-- Version Control-->
                <li id="versionControl" sec:authorize="hasRole('ADMIN')">
                    <a href="/versionControl">
                        <i class="zmdi zmdi-time-restore"></i>
                        Version Control
                    </a>
                </li>
                <!-- Manual-->
                <li class="navigation__sub" id="manual">
                    <a href="">
                        <i class="zmdi zmdi-format-clear-all"></i>
                        Manual
                    </a>
                    <ul>
                        <li id="manualIndex">
                            <a href="/manual/Manual">Manual</a>
                        </li>
                        <li id="EEGDataCodebook">
                            <a href="/manual/EEGDataCodebook">EEG Data Codebook</a>
                        </li>
                    </ul>
                </li>
                <!-- User Management-->
                <li id="user" sec:authorize="hasRole('ADMIN')">
                    <a href="/user/management">
                        <i class="zmdi zmdi-accounts"></i>
                        User Management
                    </a>
                </li>
                <li id="userFeedback">
                    <a href="https://goo.gl/forms/Xc6aYL7vv5RTaTJ53" target="_blank">
                        <i class="zmdi zmdi-help"></i>
                        Feedback Form
                    </a>
                </li>
                <li id="contactUs">
                    <a href="/user/email" >
                        <i class="zmdi zmdi-email"></i>
                        contact us
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</body>
</html>
