<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <aside class="sidebar">
        <div class="scrollbar-inner">

            <div hidden="hidden" th:name=${nav} id="nav"></div>
            <div hidden="hidden" th:name=${subnav} id="subnav"></div>
            <ul class="navigation">
                <!-- Menu Home-->
                <li id="home">
                    <a href="/">
                        <i class="zmdi zmdi-home"></i>
                        Home
                    </a>
                </li>
                <!-- Menu Data-->
                <li class="navigation__sub" id="data">
                    <a href="">
                        <i class="zmdi zmdi-collection-text"></i>
                        Data
                    </a>
                    <ul>
                        <li id="import">
                            <a href="/data/import">Import</a>
                        </li>
                        <li id="status">
                            <a href="/data/status">Status</a>
                        </li>
                    </ul>
                </li>
                <!-- Menu Query-->
                <li class="navigation__sub" id="queries">
                    <a href="">
                        <i class="zmdi zmdi-view-list"></i>
                        Queries
                    </a>
                    <ul>
                        <li id="exceed">
                            <a href="/query/exceed">Exceed</a>
                        </li>
                        <li id="differ">
                            <a href="/query/differ">Mean Difference</a>
                        </li>
                    </ul>
                </li>
                <!-- Menu Export-->
                <li class="navigation__sub" id="analysis">
                    <a href="">
                        <i class="zmdi zmdi-spinner"></i>
                        Analysis
                    </a>
                    <ul>
                        <li id="builder">
                            <a href="/analysis/builder">Queries</a>
                        </li>
                        <li id="edit">
                            <a href="/analysis/edit">Edit</a>
                        </li>
                        <li id="export">
                            <a href="/analysis/export">Export</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</body>
</html>